import <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title> Ingresando datos de los familiares</title>
</head>
<body>
    <h1>Se ha ingresado un integrante de la familia</h1>
    <hr>
    <p>Nombre:  {{people.name}}</p>
    <p>Apellido:  {{people.last_name}}</p>
    <p>Edad:  {{people.age}}</p>
    <p>Fecha de nacimiento:  {{people.date_of_birth}}</p>
    <p>Profesion:  {{people.profession}}</p>
    <hr>
</body>
</html>